<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">

    <div class="wrapper" itemscope itemtype="http://schema.org/Person">

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/avatar.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p >I build things that make a difference </p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Ramp RFID Solutions</h3>
          <h4 class="resume-item-details" itemprop="description">Engineer and Proj. Manager &bull; Nov. 2013 &mdash; Feb. 2016</h4>
          <p class="resume-item-copy">In this position I personally developed from a student to a professional. I had much responsibility, in both creative and management aspects of many projects. My experience includes:</p>
          <ul class="resume-item-list">
            <li>Lead Developer on multiple mobile software projects (Xamarin, Android)</li>
            <li>Back-end design and development on several projects</li>
            <li>Client management and liason for several multi-billion dollar companies</li>
            <li>Project manager for several multi-million dollar projects</li>
            <li>Created frameworks + libraries used by project teams. </li>
            <li>Set up continuous integration and deployment.</li>
          </ul>
          <p class="resume-item-copy">Code for this work is propriatary and is therefore not available via my GitHub account.
          Please contact me directly for code samples, access to applications, or more information.
        Website available <a href="http://www.ramprfid.com/" target="_blank">here</a></p>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">The University of NSW (UNSW)</h3>
          <h4 class="resume-item-details" itemprop="description">Batchelor's Degree, Electrical Engineering (Honours) &bull; 2008 &mdash; 2013</h4>
          <h4 class="resume-item-details" itemprop="description">Batchelor's Degree, History &bull; 2010 &mdash; 2013</h4>
          <p class="resume-item-copy">I chose to undertake who undergraduate degrees, specifically one in the hard sciences and one in the humanities.
          I feel its important to balance technical skills with knowledge about people and society. These two disciplines are often seen as incompatible,
        but I strive to create a synthesis between them. Through this course, I came to understand the core physical laws that govern all modern technologies, including the internet, computers, quantum computing, energy generation and consumption, etc.
</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Private Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title">DrawBot</h3>
          <h4 class="resume-item-details">2015</h4>
          <p class="resume-item-copy">DrawBot was a collaboration between Grant Stuart, myself, and Nick Clark.\
          The robot would draw images over several hours, sometime's days. Our intention was to explore the relationship
        between technology and art, and between the artist and observer. DrawBot was exhibited in Newcastle in 2015/16
      You can see the GitHub repository <a href="https://github.com/xtellurian/DrawBot3000" target="_blank">here</a></p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Dynamic Lantern</h3>
          <h4 class="resume-item-details">2015</h4>
          <p class="resume-item-copy">An experiment with NeoPixel grids, wood and semi-transparent materials.
            GitHub repo available <a href="https://github.com/xtellurian/LightAlarm" target="_blank">here</a>
          </p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Software Design and Development</h4>
          <p class="resume-item-copy">Full-Stack knowledge, Understanding design principles; multi-lingual (C#, HTML, JS, CSS, etc)</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Creativity</h4>
          <p class="resume-item-copy">Lateral thinking; New ideas; understanding the relationship between the probable, possible, and impossible</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Teamwork</h4>
          <p class="resume-item-copy">Motivating people; good team dynamics; making space for people to flourish</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">First Class Honours</h3>
          <h4 class="resume-item-details">UNSW Electrical Engineering &bull; 2013</h4>
          <p class="resume-item-copy">Awarded for outstanding achievement in my bachelors programme</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Thesis Presentation Award</h3>
          <h4 class="resume-item-details">2012</h4>
          <p class="resume-item-copy">Honoured for excellence in my thesis presentation, which discussed the technical and social aspects of building an electric bicycle. </p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Letter of Recognition</h3>
          <h4 class="resume-item-details">2016</h4>
          <p class="resume-item-copy">Recognised for teaching and <a href="generosity.com/fundraisers/electrifying-a-nepali-school/">fundraising</a> for school in Nepal</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://workaway.info" target="_blank">Workaway</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2013 &mdash; Present</h4>
          <p class="resume-item-copy">Volunteering in Vietnam, Nepal and India</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="http://monsoon.cloud">Drops</a> personal blog</li>
            <li><a href="http://github.com/xtellurian/">Github Profile</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <p class="footer-line">Made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p>
        <p class="footer-line">If this is your live resume, you can modify or remove this part. ;-)</p>
      </footer>

    </div>

  </body>

</html>
